<script type="text/template" id="main-tpl">
<style>
    .panel-body {
        height: 300px;
        padding: 0;
    }
    .panel-sample, .panel-result, .panel-overlay, .panel-difference {
        position: absolute;
        width: 530px;
        height: 300px;
        z-index: 1;
        overflow: hidden;
        background: white;
    }
    .panel-sample {
        z-index: 100;
    }
</style>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <a class="btn-sample btn btn-default" type="button" href="#"><%- i18n.t('checkResult.sample') %></a>
                <a class="btn-result btn btn-default" type="button" href="#"><%- i18n.t('checkResult.result') %></a>
                <a class="btn-overlay btn btn-default" type="button" href="#"><%- i18n.t('checkResult.overlay') %></a>
                <a class="btn-difference btn btn-default" type="button" href="#"><%- i18n.t('checkResult.difference') %></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-sample"></div>
            <div class="panel-result"></div>
            <div class="panel-overlay"></div>
            <div class="panel-difference"></div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <a class="btn-theory btn btn-default" type="button" href="#"><%- i18n.t('checkResult.theory') %></a>
                <a class="btn-check btn btn-default" type="button" href="#"><%- i18n.t('checkResult.check') %></a>
            </div>
        </div>
    </div>
</script>