<script type="text/template" id="main-tpl">
<style>
	#content .panel {
		width: 96%;
		border: 1px solid #ddd;
	}
	#content .panel-code-html {
		min-height: 685px;
		position: absolute;
		z-index: 10;
	}
	#content .panel-code-data {
		min-height: 685px;
		position: absolute;
		z-index: 100;
	}
	#content .panel-code-js {
		min-height: 685px;
		position: absolute;
		z-index: 10;
	}
	#content .panel-view-result {
		margin-top: 42px;
	}
	code {
	    padding: 2px 4px;
	    color: #d14;
	    white-space: nowrap;
	    background-color: #f7f7f9;
	    border: 1px solid #e1e1e8;
	}
</style>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
			<a class="navbar-brand" href="#"><%- i18n.t('app.title') %></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar1">
	        <ul class="nav navbar-nav navbar-right">
	            <li><a href="#" class="logout-btn">Выход</a></li>
	        </ul>
	    </div>
    </div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-6 left">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active-html"><a href="#">HTML</a></li>
				<li role="presentation" class="active-js"><a href="#">Javascript</a></li>
				<li role="presentation" class="active-data active"><a href="#">Data</a></li>
			</ul>
			<div class="panel panel-code-html">HTML editor here</div>
			<div class="panel panel-code-js">JS editor here</div>
			<div class="panel panel-code-data">Additional data here</div>
		</div>
		<div class="col-md-6 col-xs-6 right">
			<div class="panel-view-result">Result here</div>
			<div class="panel-check-result">Check result here</div>
		</div>
	</div>
</div>
</script>