<script type="text/template" id="main-tpl">
<style>
	#content .panel {
		width: 96%;
		border: 1px solid #ddd;
	}
	#content .panel-code-html {
		min-height: 685px;
		position: absolute;
		z-index: 10;
	}
	#content .panel-code-js {
		min-height: 685px;
		position: absolute;
		z-index: 100;
	}
	#content .panel-view-result {
		margin-top: 42px;
	}
</style>
<nav class="navbar navbar-default navbar-static-top">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><%- i18n.t('app.title') %></a>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-xs-6 left">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active-html"><a href="#">HTML</a></li>
				<li role="presentation" class="active-js active"><a href="#">Javascript</a></li>
			</ul>
			<div class="panel panel-code-html">HTML editor here</div>
			<div class="panel panel-code-js">JS editor here</div>
		</div>
		<div class="col-md-6 col-xs-6 right">
			<div class="panel-view-result">Result here</div>
			<div class="panel-check-result">Check result here</div>
		</div>
	</div>
</div>
</script>