<script type="text/template" id="main-tpl">
<style>
</style>
<div class="modal-content">
    <div class="modal-header bootstrap-dialog-draggable">
        <div class="row">
            <div class="col-md-10 col-xs-10">
                <h4 class="task-name"><%- taskModelAttributes.taskName %></span> <span class="remaining"> [<%- taskModelAttributes.number %>/<%- numberOfTasks %>]</h4>
            </div>
            <div class="col-md-2 col-xs-2">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
        </div>    
    </div>
    <div class="modal-body">
        <div class="task-description"><%= taskModelAttributes.taskInfo %></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%- i18n.t('taskPopup.buttonDoTheTask') %></button>
    </div>
</div>
</script>